<div class="header">
  <div class="d-flex align-items-center gap-2">
    <i></i>
    <span class="fs-5"> Coinstar </span>
  </div>
</div>

<div class="d-flex flex-column justify-content-between h-100 content">
  <div class="d-flex flex-column">
    <ng-container *ngFor="let menu of menus">
      <div
        class="d-flex gap-2 menu"
        [ngClass]="{ active: menu.name == 'Overview' }"
      >
        <i class="material-symbols-outlined"> {{ menu.icon }} </i>
        <span class="fs-6"> {{ menu.name }} </span>
      </div>
    </ng-container>
  </div>
  <div class="d-flex flex-column settings">
    <div class="d-flex gap-2 menu">
      <i class="material-symbols-outlined"> help_center </i>
      <span class="fs-6"> Support</span>
    </div>
    <div class="d-flex gap-2 menu">
      <i class="material-symbols-outlined"> settings </i>
      <span class="fs-6">Settings</span>
    </div>
  </div>
</div>

<div class="footer">
  <div class="d-flex gap-2 log-out">
    <i class="material-symbols-outlined"> logout </i>
    <span class="fs-6"> Log Out</span>
  </div>
</div>
