<section class="calendar" *ngIf="_currentDate">
  <div class="d-flex justify-content-between align-items-center header">
    <div class="title">{{ calendar?.title }}</div>
    <div class="actions" *ngIf="calendar?.showPreviousNextBtn">
      <button (click)="nextMonth(-1)"><</button>
      <span>{{ _currentDate | date : 'MMMM' }}</span>
      <button (click)="nextMonth(1)">></button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngFor="let day of calendar?.headers">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of _weeks">
        <td *ngFor="let item of week">
          <div
            class="body"
            *ngIf="calendar?.showPeriodBeforeAndAfter || item.isCurrentMonth"
            [ngClass]="{ 'no-current-month': !item.isCurrentMonth }"
            (click)="dayClicked.next(item.day)"
          >
            <span
              class="day"
              [ngClass]="{
                'current-day': item.isToday,
                'is-clickable': calendar?.actionWhenClickOnDay
              }"
            >
              {{ item.day | date : 'dd' }}
            </span>
            <div class="data">
              <ng-container *ngIf="_events[item.day.toISOString().split('T')[0]]">
                <span
                  *ngFor="let event of _events[item.day.toISOString().split('T')[0]]"
                  class="value"
                  (click)="dataClicked.next({ day: item.day, data: event.value })"
                  [ngClass]="event.class"
                >
                  <i></i>
                  {{ event.value }}
                </span>
              </ng-container>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
