<div class="card">
  <div class="d-flex gap-2 p-3 align-items-center profile">
    <img class="cursor-pointer" src="assets/images/profile.png" />
    <div class="d-flex flex-column gap-1 user">
      <span class="fs-6">Leonardo Silva</span>
      <span class="username">@leonardoSilva</span>
    </div>
  </div>
  <div class="d-flex flex-column p-3 balance">
    <div class="d-flex justify-content-between align-items-center total">
      <span>Total Balance</span>
      <i class="material-symbols-outlined">visibility_off</i>
    </div>
    <span class="data fs-2">$57,147,47</span>
    <div class="d-flex align-items-center gap-2 up">
      <i class="material-symbols-outlined"> north_east </i>
      <span>+3,5%</span>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="d-flex flex-column gap-3 p-3 income">
    <div class="d-flex align-items-center gap-3 title">
      <span>Income</span>
      <i class="material-symbols-outlined"> north_east </i>
    </div>
    <span class="data fs-4">+ $2,760</span>
  </div>
</div>

<div class="card mt-3">
  <div class="d-flex flex-column gap-3 p-3 spends">
    <div class="d-flex align-items-center gap-3 title">
      <span>Spends</span>
      <i class="material-symbols-outlined"> south_east </i>
    </div>
    <span class="data fs-4">- $1,840</span>
  </div>
</div>
